@font-face {
    font-family: 'i_pixel_uregular';
    src: url('../fonts/i-pixel-u-webfont.woff2') format('woff2'),
         url('../fonts/i-pixel-u-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}